/* :: General :: */
:root {
    --black-velvet: #292929;
    --white: white;
    /* --white: #6C6463; */
    --soft-pink: #EDC4BE;
    --morphe-red: #861C31;
    --gunmetal-grey: #5C5B59;

    --serif: 'Butler', serif;
    --sans-serif: 'DINOT', sans-serif;
    --sans-serif-condensed: 'DINOT-condensed', Arial, sans-serif;
}

body {
    font-family: var(--sans-serif);
    font-weight: lighter;
    position: relative;
    margin: 0;
    padding: 0;
    background: var(--soft-pink);
}

body, body * {
    box-sizing: border-box;
}

h1 {
    font-family: var(--sans-serif-condensed);
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    font-family: var(--sans-serif);
    font-weight: bold;
}


/* :: Layout Header :: */
header.layout {
    --max-width: 1200px; /* ::NOTE:: Use to calculate padding */
    --breakpoint: 800px; /* ::NOTE:: JS dependency, Use this value for media queries */
    position: relative;
}

header.layout a {
    color: inherit;
    text-decoration: none;
}

header.layout ul {
    list-style: none;
    margin: 0;
}

header.layout > section:first-child {
    background: var(--white);
    text-align: center;
}


header.layout > section:first-child > p {
    text-transform: uppercase;
    margin: 0;
    padding: 0.5em;
    font-family: var(--sans-serif);
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.25em;
}

@media screen and (max-width: 800px) {
    header.layout > section:first-child > p:last-child {
        display: none;
    }
}
@media screen and (min-width: 801px) {
    header.layout > section:first-child > p:last-child {
        display: flex;
        position: absolute;
        right: 1em;
        top: 0;
    }
}

header.layout > section:first-child > p:last-child img {
    margin-left: 0.5em;
}

/* ----------------- */

header.layout > section:nth-child(2) {
    background-color: var(--black-velvet);
    color: white;
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 801px) {
    header.layout > section:nth-child(2) {
        background-image: url(https://peoplevine.blob.core.windows.net/media/984/dark-banner-background.png);
        background-size: cover;
        background-position: right;
    }
}
@media screen and (max-width: 1200px) {
    header.layout > section:nth-child(2) {
        padding: 0 5vw;
    }
}
@media screen and (min-width: 1201px) {
    header.layout > section:nth-child(2) {
        padding: 0 calc( (100vw - 1100px) / 2 )
    }
}

header.layout > section:nth-child(2) > .logo {
    padding: 20px;
}

header.layout > section:nth-child(2) > .logo > img {
    max-width: 208px;
}

/* ----------------- */


header.layout .small-screen-menu {
    position: relative;
}
header.layout .small-screen-menu[open] {
    color: var(--soft-pink);
}
@media screen and (max-width: 800px) {
    header.layout .small-screen-menu {
        display: flex;
    }
}
@media screen and (min-width: 801px) {
    header.layout .small-screen-menu {
        display: none;
    }
}

header.layout .small-screen-menu > summary {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5em;
}
header.layout .small-screen-menu > summary::-webkit-details-marker {
    display: none;
}

header.layout .small-screen-menu > .sidebar {
    background: var(--white);
    color: black;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100vh - 25px - 68px - 68px);
    overflow-y: auto;
    padding-bottom: 2em;
}

header.layout .small-screen-menu > .sidebar ul {
    padding-right: 2em;
    padding-bottom: 1em;
}

header.layout .small-screen-menu > .sidebar details > summary {
    direction: rtl;
    list-style-position: outside;
    list-style-image: url('https://peoplevine.blob.core.windows.net/media/984/plus.png');
}

header.layout .small-screen-menu > .sidebar details[open] > summary {
    list-style-image: url('https://peoplevine.blob.core.windows.net/media/984/minus.png');
}

/* ----------------- */

header.layout > .large-screen-menu {
    background: var(--white);
}
@media screen and (max-width: 800px) {
    header.layout > .large-screen-menu {
        display: none;
    }
}
@media screen and (min-width: 801px) {
    header.layout > .large-screen-menu {
        display: block;
    }
}

header.layout > .large-screen-menu > ul.deep-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header.layout > .large-screen-menu > ul.deep-1 details {
    padding: 0.5em;
}

header.layout > .large-screen-menu ul.deep-2 {
    position: absolute;
    margin-top: .5em;
    background: var(--soft-pink);

    /* ::NOTE:: No shorthand here so that padding-left generated by browser stays */
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

header.layout > .large-screen-menu ul.deep-2 > li {
    position: relative;
}

header.layout > .large-screen-menu ul.deep-2 {
    position: absolute;
    background: var(--morphe-red);

    /* ::NOTE:: No shorthand here so that padding-left generated by browser stays */
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}





/* :: Layout Footer :: */
footer.layout {
    background: var(--black-velvet);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer.layout a {
    color: inherit;
    display: inline-block;
}

footer.layout > ul.social {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-aroud;
}

footer.layout > ul.social a {
    padding: .5em;
    margin: .5em;
    font-size: 20px;
    text-align: center;
    border: 2px solid transparent;
    color: var(--white);
}

footer.layout > ul.social a:hover,
footer.layout > ul.social a:focus {
    border-color: var(--white);
}
footer.layout > ul.social a:active {
    border-color: var(--gunmetal-grey);
}



/* Optional */
body {
    min-height: 100vh;
}